In [2]:
import pandas as pd
import wandb
import matplotlib.pyplot as plt
plt.rcParams.update({
    "text.usetex": False,})

In [3]:
conf_df_og = pd.read_csv('conf_mat_si_2cc_u_only.csv', header=0)

In [4]:
conf_df_og

   Actual Predicted  nPredictions
0    Comp      Comp          7928
1    Comp      Purs           662
2    Comp      Prev             0
3    Purs      Comp           742
4    Purs      Purs          3456
..    ...       ...           ...
85   Purs      Purs          3620
86   Purs      Prev             0
87   Prev      Comp             0
88   Prev      Purs             0
89   Prev      Prev             0

[90 rows x 3 columns]

In [5]:
conf_df = conf_df_og.groupby(['Actual', 'Predicted']).sum()

In [6]:
conf_df

                  nPredictions
Actual Predicted
Comp   Comp              77975
       Prev                  0
       Purs               7134
Prev   Comp                  0
       Prev                  0
       Purs                  0
Purs   Comp               7126
       Prev                  0
       Purs              35797

In [7]:
conf_df.groupby(["Actual"]).sum()

        nPredictions
Actual
Comp           85109
Prev               0
Purs           42923

In [8]:
conf_df

                  nPredictions
Actual Predicted
Comp   Comp              77975
       Prev                  0
       Purs               7134
Prev   Comp                  0
       Prev                  0
       Purs                  0
Purs   Comp               7126
       Prev                  0
       Purs              35797

In [77]:
conf_df.unstack(level=0).pivot()

TypeError: pivot() missing 1 required argument: 'columns'

In [87]:
# 
conf_df.unstack(level=0).iloc[0:3, 6:9].applymap(lambda percent: f"{percent:.2f} %").transpose()

Predicted       Comp     Prev     Purs
     Actual
prob Comp    87.83 %   0.11 %  12.06 %
     Prev     0.10 %  99.76 %   0.15 %
     Purs     5.13 %   1.09 %  93.77 %

In [46]:
conf_df.apply(lambda series: print(series), axis=1)

nPredictions    18734
Name: (Comp, Comp), dtype: int64
nPredictions    24
Name: (Comp, Prev), dtype: int64
nPredictions    2572
Name: (Comp, Purs), dtype: int64
nPredictions    21
Name: (Prev, Comp), dtype: int64
nPredictions    21278
Name: (Prev, Prev), dtype: int64
nPredictions    31
Name: (Prev, Purs), dtype: int64
nPredictions    1095
Name: (Purs, Comp), dtype: int64
nPredictions    233
Name: (Purs, Prev), dtype: int64
nPredictions    20002
Name: (Purs, Purs), dtype: int64

Actual  Predicted
Comp    Comp         None
        Prev         None
        Purs         None
Prev    Comp         None
        Prev         None
        Purs         None
Purs    Comp         None
        Prev         None
        Purs         None
dtype: object

In [80]:
conf_df

                  nPredictions  sum       prob
Actual Predicted
Comp   Comp              18734  NaN  87.829348
       Prev                 24  NaN   0.112518
       Purs               2572  NaN  12.058134
Prev   Comp                 21  NaN   0.098453
       Prev              21278  NaN  99.756212
       Purs                 31  NaN   0.145335
Purs   Comp               1095  NaN   5.133615
       Prev                233  NaN   1.092358
       Purs              20002  NaN  93.774027